@import "tailwindcss";
@import "tw-animate-css";



:root {
  --base-50: oklch(0.9862 0.0054 117.92);
  --base-100: oklch(0.9694 0.0059 118.93);
  --base-200: oklch(0.9249 0.0076 119.33);
  --base-300: oklch(0.869 0.0086 120.22);
  --base-400: oklch(0.7074 0.0097 121.08);
  --base-500: oklch(0.5533 0.0105 122.51);
  --base-600: oklch(0.4446 0.0103 123.53);
  --base-700: oklch(0.3734 0.0095 122.8);
  --base-800: oklch(0.2716 0.0081 121.83);
  --base-900: oklch(0.2134 0.0076 122.22);
  --base-950: oklch(0.1412 0.007 121.31);
  --base-1000: oklch(0.0942 0.0065 121.8);
  --primary-50: oklch(0.9753 0.0131 253.38);
  --primary-100: oklch(0.9374 0.0335 254.31);
  --primary-200: oklch(0.8867 0.062 252.82);
  --primary-300: oklch(0.813 0.1059 250.62);
  --primary-400: oklch(0.7116 0.1666 253.4);
  --primary-500: oklch(0.6286 0.2165 258.28);
  --primary-600: oklch(0.5498 0.267 261.32);
  --primary-700: oklch(0.4893 0.2974 262.77);
  --primary-800: oklch(0.4255 0.2728 264.01);
  --primary-900: oklch(0.3487 0.2011 263.98);
  --primary-950: oklch(0.2829 0.1263 266.25);
  --primary-1000: oklch(0.2199 0.0774 267.81);
  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-800);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-900);
  --chart-1: var(--primary-900);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-100);
  --chart-5: var(--primary-300);
  --radius: 0.75rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-900);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-900);
  --cream: var(--primary-50);
}



@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-cream: var(--cream);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Animations */
  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}